.list_carousel {
	float:left;
	height:485px;
	width:100%;
	position:relative;
	display:inline-block;
	margin-top:10px;
}
.list_carousel ul {
	margin:0;
	padding:0;
	list-style: none;
	display: block;
	height:450px;
	background: #e8e8e8;
	width: 1280px;
}
.list_carousel ul li {
	display: inline-block;
	width: 225px;
	margin: 15px 0px 15px 24px;
	vertical-align: top;
	background: #ffffff;
	text-align: center;
}
.list_carousel ul li img{
	
	}
.list_carousel ul li img:hover{

	}
.list_carousel ul li .prod_name{
	color:#33241b;
	font-size:18px;
	text-transform:uppercase;
	float: right;
	width:inherit;
	text-align:right;
	width:inherit;
	overflow:hidden;
	height:25px;
	}
.list_carousel ul li .actions a{
		display:inline-block;
		padding:5px 20px 10px 0;
		background:url(/users_app/777/img/detail_arrow.png) no-repeat right;
		color:#7f7b6d;
		font-size:16px;
		border: solid 1px red;
		}
.list_carousel ul li .actions a:hover{
		color:#32241a;
		}
a.prev_new {
	width:20px;
	height:37px;
	position:absolute;
	top:0px;
	right:22px;
	z-index:999;
}
a.prev_new i{
	font-size: 32px;
}
a.prev_new:hover i{
	color: #41b495 !important;
	text-shadow:#47453b 1px 1px 1px;
}
a.next_new {
	width:20px;
	height:37px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:999;
}
a.next_new i{
	font-size: 32px;
}
a.next_new:hover i{
	color: #41b495 !important;
	text-shadow:#47453b 1px 1px 1px;
}
.caroufredsel_wrapper{
	width: 100% !important;
	}	
